/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-regular.woff") format("woff"), url("../fonts/open-sans-v28-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v28-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-600.woff") format("woff"), url("../fonts/open-sans-v28-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v28-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v28-latin-700.woff") format("woff"), url("../fonts/open-sans-v28-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v28-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v26-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v26-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v26-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v26-latin-regular.woff") format("woff"), url("../fonts/raleway-v26-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v26-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v26-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v26-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v26-latin-500.woff2") format("woff2"), url("../fonts/raleway-v26-latin-500.woff") format("woff"), url("../fonts/raleway-v26-latin-500.ttf") format("truetype"), url("../fonts/raleway-v26-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v26-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v26-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v26-latin-700.woff2") format("woff2"), url("../fonts/raleway-v26-latin-700.woff") format("woff"), url("../fonts/raleway-v26-latin-700.ttf") format("truetype"), url("../fonts/raleway-v26-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-size: 18px;
  font-family: Raleway;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
}
.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 184px;
          flex: 0 0 184px;
}
.header__logo-pic {
  max-width: 100%;
  position: relative;
  left: -55px;
}
.header__burger {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__link {
  padding: 28px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.header__link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ec7979;
}
.header__link:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
}

@media (max-width: 1300px) {
  .header__logo-pic {
    left: 0;
  }
}
@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    height: 56px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 137px;
            flex: 0 0 137px;
  }
  .header__burger {
    display: block;
    width: 24px;
    height: 18px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    left: 0;
    top: 7.4px;
    width: 100%;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .header__menu {
    padding: 60px 0 0 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__menu.active {
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__item {
    padding: 24px;
  }
  .header__link {
    padding: 24px 110px;
  }
}
.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/bg.jpg) no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/bg.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/bg.jpg) no-repeat center;
  background-size: cover;
}
.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 282px 0 185px;
}
.banner__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding: 0 30px 0 0;
  color: #fff;
}
.banner__logo {
  max-width: 100%;
  margin: 0 0 51px 0;
}
.banner__title {
  margin: 0 0 55px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
}
.banner__bottom {
  height: 1px;
  width: 170px;
  margin: 0 0 42px 0;
  background: #fff;
}
.banner__text {
  max-width: 270px;
  margin: 0 0 42px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.banner__link {
  -webkit-appearance: none;
  display: inline-block;
  padding: 14.5px 89px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #fff;
}
.banner__link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ec7979;
  border: 2px solid #ec7979;
}
.banner__link:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
  border: 2px solid #ab4949;
}
.banner__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-height: 450px;
  border-radius: 10px;
  background-color: #fff;
}
.banner__form-title {
  max-width: 367px;
  padding: 28.5px 0;
  margin: 0 auto 45px;
  text-align: center;
  color: #333;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}
.banner__form-title span {
  color: #ec7979;
}
.banner__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
.banner__field {
  display: inline-block;
  width: 370px;
  margin: 0 auto;
  padding: 0 0 16px 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.banner__field::-webkit-input-placeholder {
  color: #bdbdbd;
}
.banner__field::-moz-placeholder {
  color: #bdbdbd;
}
.banner__field:-ms-input-placeholder {
  color: #bdbdbd;
}
.banner__field::-ms-input-placeholder {
  color: #bdbdbd;
}
.banner__field::placeholder {
  color: #bdbdbd;
}
.banner__field:last-child {
  margin: 0 auto 75px;
}
.banner__submit {
  width: 100%;
  padding: 20px 0;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background: #ec7979;
  border-radius: 0 0 9px 9px;
}
.banner__submit:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
}
.banner__submit:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ec7979;
  -webkit-box-shadow: inset 0 0 10px #ab4949;
          box-shadow: inset 0 0 10px #ab4949;
}

@media (min-width: 1025px) {
  .banner__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 470px;
            flex: 1 1 470px;
  }
}
@media (max-width: 1024px) {
  .banner__content {
    padding: 212px 0 106px 0;
  }
  .banner__body {
    padding: 0 37px 0 100px;
  }
  .banner__logo {
    max-height: 75px;
    margin: 0 0 38px 0;
  }
  .banner__title {
    margin: 0 0 44px 0;
    font-size: 36px;
    line-height: 42px;
  }
  .banner__bottom {
    width: 115px;
    margin: 0 0 31px 0;
  }
  .banner__text {
    max-width: 183px;
    margin: 0 0 32px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .banner__link {
    padding: 10.5px 46px;
  }
  .banner__form-title {
    max-width: 298px;
    padding: 32.5px 0;
    font-size: 18px;
    line-height: 25px;
  }
  .banner__field {
    width: 298px;
  }
}
@media (max-width: 992px) {
  .banner__body {
    padding: 0 37px 0 0;
  }
  .banner__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 384px;
            flex: 1 1 384px;
  }
}
@media (max-width: 768px) {
  .banner__content {
    display: block;
    padding: 180px 0 80px;
  }
  .banner__body {
    width: 100%;
    padding: 0;
    margin: 0 auto 56px;
    text-align: center;
  }
  .banner__logo {
    display: none;
  }
  .banner__bottom {
    width: 134px;
    margin: 0 auto 42px;
  }
  .banner__text {
    max-width: 288px;
    margin: 0 auto 42px;
  }
  .banner__link {
    padding: 10.5px 98px;
  }
  .banner__form {
    max-width: 388px;
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .banner__content {
    padding: 140px 0 50px 0;
  }
  .banner__form {
    max-width: 288px;
  }
  .banner__form-title {
    margin: 0 auto;
    padding: 35.5px 0;
    font-size: 14px;
    line-height: 19px;
  }
  .banner__field {
    width: 240px;
  }
  .banner__field:last-child {
    margin: 0 auto 51px;
  }
}
.social {
  background: #f8efef;
}
.social__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  margin: 0 30px 0 0;
}
.social__title {
  padding: 13.5px 0;
  margin: 0 0 18px 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
}
.social__text {
  margin: 0 0 18px 0;
  color: #86878b;
  line-height: 21px;
}
.social__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  gap: 30px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icons__icon {
  max-width: 100%;
}

@media (max-width: 1110px) {
  .social__icons {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .social__body {
    margin: 0 20px 0 0;
  }
  .social__title {
    padding: 10px 0;
    margin: 0 0 13px 0;
    font-size: 18px;
    line-height: 25px;
  }
  .social__text {
    margin: 0 0 13px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .social__icons {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .social {
    padding: 31px 0 44px 0;
  }
  .social__body {
    margin: 0;
  }
  .social__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social__body {
    text-align: center;
  }
  .social__text {
    margin: 0 0 32px 0;
  }
}
@media (max-width: 320px) {
  .social__text {
    max-width: 271px;
  }
  .social__icons {
    gap: 17px;
  }

  .icons__icon {
    max-width: 26px;
  }
}
.tabs {
  padding: 99px 0 50px 0;
}
.tabs__nav > input[type=radio] {
  display: none;
}
.tabs__nav > div {
  display: none;
  border: 1px solid #c6cbcd;
}
.tabs #tab-btn-1:checked ~ #tab-1,
.tabs #tab-btn-2:checked ~ #tab-2,
.tabs #tab-btn-3:checked ~ #tab-3 {
  display: block;
}
.tabs__nav > label {
  display: inline-block;
  padding: 9.5px 82px;
  cursor: pointer;
  color: #333;
  text-align: center;
  vertical-align: middle;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
}
.tabs > label:not(:first-of-type) {
  border-left: none;
}
.tabs__nav > input[type=radio]:checked + label {
  border: 1px solid #c6cbcd;
  border-bottom: 1px solid #fff;
}
.tabs__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  overflow: auto;
  padding: 0 30px 0 100px;
}
.tabs__title {
  padding: 41.5px 0;
  margin: 0 0 27px 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.tabs__text {
  margin: 0 0 27px 0;
  line-height: 21px;
}
.tabs__button {
  display: inline-block;
  padding: 16.5px 91px;
  margin: 0 0 54px 0;
  color: #fff;
  font-family: "Open Sans";
  background-color: #ec7979;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.tabs__button:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
}
.tabs__button .tabs__button:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ec7979;
  -webkit-box-shadow: inset 0 0 10px #ab4949;
          box-shadow: inset 0 0 10px #ab4949;
}
.tabs__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.tabs__image img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .tabs__nav > label {
    padding: 9.5px 50px;
  }
  .tabs__body {
    padding: 0 25px 0 85px;
  }
  .tabs__title {
    padding: 28px 0;
    margin: 0 0 38px 0;
    font-size: 24px;
    line-height: 33px;
  }
  .tabs__text {
    margin: 0 0 38px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .tabs__button {
    margin: 0 0 50px 0;
    padding: 16.5px 71.5px;
  }
}
@media (max-width: 768px) {
  .tabs {
    padding: 41px 0 0 0;
  }
  .tabs__nav > label {
    padding: 9.5px 28px;
  }
  .tabs__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 15px;
    text-align: center;
  }
  .tabs__title {
    padding: 40px 0;
    margin: 0 0 10px 0;
  }
  .tabs__text {
    max-height: 250px;
    overflow: scroll;
    margin: 0 auto 29px;
  }
  .tabs__button {
    margin: 0 0 30px 0;
    padding: 12.5px 77.5px;
  }
  .tabs__image {
    display: none;
  }
}
@media (max-width: 320px) {
  .tabs {
    margin: 0;
  }
  .tabs__nav > label {
    padding: 9.5px 27.8px;
  }
  .tabs__title {
    max-width: 243px;
    padding: 33px 0;
    margin: 0 auto 29px;
  }
}
.about {
  padding: 0 0 60px 0;
}
.about__block-text {
  margin: 0 0 71px 0;
}
.about__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  height: 100%;
}
.about__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  text-align: center;
}
.about__icon {
  max-width: 100%;
  border-radius: 39px;
}
.about__title {
  padding: 33.5px 0;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.about__text {
  font-size: 18px;
  line-height: 21px;
}

.block-text {
  text-align: center;
}
.block-text__title {
  padding: 53.5px 0;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.block-text__bottom {
  width: 170px;
  height: 1px;
  margin: 0 auto 40px;
  background: #ec7979;
}
.block-text__text {
  color: #86878b;
  font-size: 18px;
  line-height: 21px;
}

.title-white {
  color: #fff;
}

.bottom-white {
  background: #fff;
}

.text-white {
  color: #fff;
}

@media (max-width: 1024px) {
  .about__block-text {
    margin: 0 0 32px 0;
  }
  .about__columns {
    gap: 20px;
  }
  .about__icon {
    max-width: 147px;
  }
  .about__title {
    padding: 28.5px 0;
    margin: 0 0 17px 0;
    font-size: 18px;
    line-height: 25px;
  }
  .about__text {
    font-size: 14px;
    line-height: 16px;
  }

  .block-text__title {
    padding: 45.5px 0;
    font-size: 24px;
    line-height: 28px;
  }
  .block-text__bottom {
    width: 142px;
    margin: 0 auto 32px;
  }
  .block-text__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .about__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .about__block-text {
    margin: 0 0 50px 0;
  }
  .about__title {
    margin: 0 0 9px 0;
  }

  .block-text__title {
    padding: 49px 0;
    font-size: 18px;
    line-height: 21px;
  }
  .block-text__bottom {
    width: 134px;
    margin: 0 auto 25px;
  }
  .block-text__text {
    font-size: 13px;
    line-height: 15px;
  }
}
.pricing {
  padding: 50px 0;
  background: #f5f5f5;
}
.pricing__block-text {
  margin: 0 0 79px 0;
}
.pricing__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.pricing__column {
  width: 370px;
  text-align: center;
}
.pricing__column:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: drop-shadow(0 4px 10px rgba(51, 51, 51, 0.2));
          filter: drop-shadow(0 4px 10px rgba(51, 51, 51, 0.2));
}
.pricing__item {
  padding: 13.5px 0;
  color: #86878b;
  line-height: 21px;
  background: #fff;
  font-family: "Raleway";
  text-transform: capitalize;
  border: 1px solid #f5f5f5;
}
.pricing__item:first-child {
  background: #333;
  color: #fff;
  text-transform: none;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.pricing__item:nth-child(2) {
  padding: 28px 0;
  background: #333;
  color: #fff;
  text-transform: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.pricing__item:nth-child(3) {
  background: #333;
  text-transform: none;
}

@media (max-width: 1024px) {
  .pricing__block-text {
    margin: 0 0 50px 0;
  }
  .pricing__columns {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .pricing {
    padding: 0 0 26px 0;
  }
  .pricing__block-text {
    margin: 0 0 24px 0;
  }
  .pricing__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;
  }
  .pricing__column {
    width: 288px;
  }
  .pricing__column:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.reviews {
  padding: 50px 0 64px;
}
.reviews__block-text {
  margin: 0 0 83px 0;
}
.reviews__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.reviews__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
}
.reviews__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  position: relative;
  padding: 0 28px;
  margin: 0 0 66px 0;
  text-align: center;
  border-radius: 10px;
  background: #e2e2e2;
}
.reviews__comment:after {
  content: "";
  position: absolute;
  left: 70px;
  bottom: -20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
}
.reviews__comment-text {
  max-height: 130px;
  overflow: auto;
  line-height: 21px;
}
.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.reviews__photo {
  max-width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.reviews__name {
  padding: 10.5px 0;
  margin: 0 0 15px 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
}
.reviews__position {
  line-height: 21px;
}

@media (max-width: 1024px) {
  .reviews {
    padding: 50px 0 57px 0;
  }
  .reviews__block-text {
    margin: 0 0 32px 0;
  }
  .reviews__columns {
    gap: 20px;
  }
  .reviews__comment:after {
    left: 60px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }
  .reviews__comment-text {
    font-size: 14px;
    line-height: 16px;
  }
  .reviews__photo {
    max-width: 63px;
  }
  .reviews__name {
    padding: 5.5px 0;
    margin: 0 0 9px 0;
    font-size: 18px;
    line-height: 25px;
  }
  .reviews__position {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .reviews {
    padding: 0 0 50px 0;
  }
  .reviews__block-text {
    margin: 0 0 24px 0;
  }
  .reviews__columns {
    display: block;
  }
  .reviews__column {
    padding: 0 5px;
    margin: 0 0 23px 0;
  }
  .reviews__comment {
    margin: 0 0 40px 0;
  }
  .reviews__comment:after {
    left: 40px;
  }
  .reviews__photo {
    max-width: 57px;
    -webkit-filter: none;
            filter: none;
  }
  .reviews__name {
    padding: 8.5px 0;
    margin: 0 0 9px 0;
    font-size: 14px;
    line-height: 19px;
  }
  .reviews__position {
    font-size: 13px;
    line-height: 15px;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slick-dots li {
    list-style: none;
    margin: 0 50px;
  }

  .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #86878b;
  }

  .slick-dots li.slick-active button {
    background: #86878b;
  }
}
.design {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat center;
  background-size: cover;
}
.design__content {
  padding: 50px 0;
}
.design__block-text {
  margin: 0 0 73px 0;
}
.design__link {
  display: inline-block;
  padding: 14.5px 139px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #fff;
}
.design__link:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ec7979;
  border: 2px solid #ec7979;
}
.design__link:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
  border: 2px solid #ab4949;
}

@media (max-width: 1024px) {
  .design__block-text {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 768px) {
  .design {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/banner_2.jpg) no-repeat center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner_2.jpg) no-repeat center;
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner_2.jpg) no-repeat center;
    background-size: cover;
  }
  .design__content {
    padding: 0 0 58px 0;
  }
  .design__link {
    padding: 10.5px 97.5px;
  }
}
.contact {
  padding: 50px 0;
}
.contact__block-text {
  margin: 0 0 89px 0;
}
.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 0 0 50px 0;
}
.contact__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  gap: 50px;
}
.contact__item {
  padding: 0 0 16px 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
}
.contact__comment {
  width: 100%;
  padding: 0 0 17px 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  resize: none;
}
.contact__submit {
  display: block;
  margin: 0 auto;
  padding: 16.5px 123.5px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #ec7979;
  text-transform: capitalize;
}
.contact__submit:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ab4949;
}
.contact__submit:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #ec7979;
  -webkit-box-shadow: inset 0 0 10px #ec7979;
          box-shadow: inset 0 0 10px #ec7979;
}

@media (max-width: 1024px) {
  .contact__fields {
    gap: 20px;
  }
  .contact_block-text {
    margin: 0 0 72px 0;
  }
  .contact__submit {
    padding: 16.5px 97.5px;
  }
}
@media (max-width: 768px) {
  .contact {
    padding: 0 0 40px 0;
  }
  .contact__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .contact__block-text {
    margin: 0 0 64px 0;
  }
  .contact__submit {
    padding: 12.5px 82.5px;
  }
}
.footer {
  width: 100%;
  padding: 35px 0 30px;
  background: #000;
}
.footer__icons {
  gap: 33px;
  margin: 0 0 28px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__text {
  line-height: 21px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  .footer__icons {
    gap: 27px;
    margin: 0 0 38px 0;
  }

  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 768px) {
  .footer__icons {
    gap: 17px;
    margin: 0 0 27px 0;
  }

  .footer__text {
    padding: 15.5px 0;
  }
}