.contact__block-text {
	margin: 0 0 89px 0;
}
.contact__form {
	margin: 0 0 50px 0;
}
.contact__fields {
	display: flex;
	gap: 30px;
}
.contact__field {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
	gap: 50px;
	margin: 0 0 50px 0;
}
.contact__item {
	width: 100%;
	padding: 0 0 16px 0;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
	font-family: $open-sans;
	@include fs-lh(14px, 19px);
}
.contact__comment {
	width: 100%;
	padding: 0 0 17px 0;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
	font-family: $open-sans;
	@include fs-lh(14px, 19px);
	resize: none;
}
.contact__submit {
	display: block;
	width: 370px;
	margin: 0 auto;
	padding: 16.5px 0;
	color: $color-white;
	font-family: $open-sans;
	@include text-style(600, 18px, 25px);
	background: $color-lighter;
	text-transform: capitalize;
	&:hover {
		@include main-btn-hover;
	}
	&:active {
		@include main-btn-active;
		box-shadow: inset 0 0 10px $color-lighter;
	}
}
@media (max-width: 1024px) {
	.contact__block-text {
		margin: 0 0 72px 0;
	}
}
@media (max-width: 767.98px) {
	.contact__fields {
		flex-direction: column;
		gap: 0;
	}
}
@media (max-width: 480px) {
	.contact__block-text {
		margin: 0 0 64px 0;
	}
	.contact__form {
		margin: 0 0 40px 0;
	}
	.contact__submit {
		width: 288px;
		padding: 12.5px 0;
	}
}
