.contact {
	padding: 50px 0;
	&__block-text {
		margin: 0 0 89px 0;
	}
	&__form {
	}
	&__fields {
		display: flex;
		gap: 30px;
		margin: 0 0 50px 0;
	}
	&__field {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		gap: 50px;
	}
	&__item {
		padding: 0 0 16px 0;
		border: 0;
		border-bottom: 1px solid #bdbdbd;
		font-family: $open-sans;
		@include fs-lh(14px, 19px);
	}
	&__comment {
		width: 100%;
		padding: 0 0 17px 0;
		border: 0;
		border-bottom: 1px solid #bdbdbd;
		font-family: $open-sans;
		@include fs-lh(14px, 19px);
		resize: none;
	}
	&__submit {
		display: block;
		margin: 0 auto;
		padding: 16.5px 123.5px;
		color: $color-white;
		font-family: $open-sans;
		@include text-style(600, 18px, 25px);
		background: $color-lighter;
		text-transform: capitalize;
		&:hover {
			@include main-btn-hover;
		}
		&:active {
			@include main-btn-active;
			box-shadow: inset 0 0 10px $color-lighter;
		}
	}
}
@media (max-width: 1024px) {
	.contact {
		&__fields {
			gap: 20px;
		}
		&_block-text {
			margin: 0 0 72px 0;
		}
		&__submit {
			padding: 16.5px 97.5px;
		}
	}
}
@media (max-width: 768px) {
	.contact {
		padding: 0 0 40px 0;
		&__fields {
			flex-direction: column;
			gap: 50px;
		}
		&__block-text {
			margin: 0 0 64px 0;
		}
		*__submit {
			padding: 12.5px 82.5px;
		}
	}
}
