.design {
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat center;
	background-size: cover;
	&__content {
		padding: 50px 0;
	}
	&__block-text {
		margin: 0 0 73px 0;
	}
	&__button {
	}
	&__link {
		display: inline-block;
		padding: 14.5px 139px;
		color: $color-white;
		font-family: $open-sans;
		@include text-style(600, 18px, 25px);
		border: 2px solid $color-white;
		&:hover {
			@include clean-btn-hover;
		}
		&:active {
			@include clean-btn-active;
		}
	}
}
@media (max-width: 1024px) {
	.design {
		&__block-text {
			margin: 0 0 50px 0;
		}
	}
}
@media (max-width: 768px) {
	.design {
		background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/banner_2.jpg) no-repeat center;
		background-size: cover;
		&__content {
			padding: 0 0 58px 0;
		}
		&__link {
			padding: 10.5px 97.5px;
		}
	}
}
