.footer {
	width: 100%;
	padding: 35px 0 30px;
	background: $color-black;
	&__content {
	}
	&__icons {
		gap: 33px;
		margin: 0 0 28px 0;
		justify-content: center;
	}
	&__text {
		line-height: 21px;
		text-align: center;
		color: rgba(255, 255, 255, 0.5);
	}
}
@media (max-width: 1024px) {
	.footer {
	}
	.footer__icons {
		gap: 27px;
		margin: 0 0 38px 0;
	}
	.footer__text {
		@include fs-lh(14px, 16px);
	}
}
@media (max-width: 768px) {
	.footer__icons {
		gap: 17px;
		margin: 0 0 27px 0;
	}
	.footer__text {
		padding: 15.5px 0;
	}
}
