.header {
	position: fixed;
	height: 75px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: $color-black;
	}
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		position: relative;
		z-index: 3;
		flex: 0 0 184px;
	}
	&__logo-pic {
		max-width: 100%;
		position: relative;
		left: -55px;
	}
	&__burger {
		display: none;
	}
	&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}
	&__link {
		padding: 28px;
		color: $color-white;
		font-family: $open-sans;
		@include text-style(600, 14px, 19px);
		&:hover {
			@include head-btn-hover;
		}
		&:active {
			@include head-btn-active;
		}
	}
}
@media (max-width: 1300px) {
	.header__logo-pic {
		left: 0;
	}
}
@media (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		height: 56px;
		&__logo {
			flex: 0 0 137px;
		}
		&__burger {
			display: block;
			width: 24px;
			height: 18px;
			position: relative;
			z-index: 3;
			span {
				position: absolute;
				left: 0;
				top: 7.4px;
				width: 100%;
				height: 3px;
				background: $color-white;
				transition: $transition;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				background: $color-white;
				transition: $transition;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::before {
				transform: rotate(45deg);
				top: 7px;
			}
			&.active::after {
				transform: rotate(-45deg);
				bottom: 8px;
			}
		}
		&__menu {
			padding: 60px 0 0 0;
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			background: $color-black;
			transition: $transition;
			&.active {
				left: 0;
				transition: $transition;
			}
		}
		&__list {
			display: block;
			text-align: center;
		}
		&__item {
			padding: 24px;
		}
		&__link {
			padding: 24px 110px;
		}
	}
}
