.pricing {
	padding: 50px 0;
	background: #f5f5f5;
	&__content {
	}
	&__block-text {
		margin: 0 0 79px 0;
	}
	&__columns {
		display: flex;
		gap: 30px;
	}
	&__column {
		width: 370px;
		text-align: center;
		&:hover {
			transform: translateY(-20px);
			transition: $transition;
			filter: drop-shadow(0 4px 10px rgba(51, 51, 51, 0.2));
		}
	}
	&__item {
		padding: 13.5px 0;
		color: #86878b;
		line-height: 21px;
		background: $color-white;
		font-family: $raleway;
		text-transform: capitalize;
		border: 1px solid #f5f5f5;
		&:first-child {
			background: #333;
			color: $color-white;
			text-transform: none;
			font-family: $open-sans;
			@include text-style(700, 24px, 31px);
		}
		&:nth-child(2) {
			padding: 28px 0;
			background: #333;
			color: $color-white;
			text-transform: none;
			@include text-style(700, 36px, 42px);
		}
		&:nth-child(3) {
			background: #333;
			text-transform: none;
		}
	}
}
@media (max-width: 1024px) {
	.pricing {
		&__block-text {
			margin: 0 0 50px 0;
		}
		&__columns {
			gap: 20px;
		}
	}
}
@media (max-width: 768px) {
	.pricing {
		padding: 0 0 26px 0;
		&__block-text {
			margin: 0 0 24px 0;
		}
		&__columns {
			flex-direction: column;
			align-items: center;
			gap: 27px;
		}
		&__column {
			width: 288px;
			&:hover {
				transform: none;
			}
		}
	}
}
