.reviews {
	padding: 50px 0 64px;
	&__block-text {
		margin: 0 0 83px 0;
	}
	&__columns {
		display: flex;
		gap: 30px;
	}
	&__column {
		flex: 1 1 calc(100% / 3);
	}
	&__comment {
		display: flex;
		align-items: center;
		height: 180px;
		position: relative;
		padding: 0 28px;
		margin: 0 0 66px 0;
		text-align: center;
		border-radius: 10px;
		background: #e2e2e2;
		&:after {
			content: "";
			position: absolute;
			left: 70px;
			bottom: -20px;
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 20px solid #e2e2e2;
		}
	}
	&__comment-text {
		max-height: 130px;
		overflow: auto;
		line-height: 21px;
	}
	&__user {
		display: flex;
		gap: 30px;
	}
	&__image {
	}
	&__photo {
		max-width: 100%;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	}
	&__info {
	}
	&__name {
		padding: 10.5px 0;
		margin: 0 0 15px 0;
		font-family: $open-sans;
		@include text-style(700, 24px, 33px);
		text-transform: capitalize;
	}
	&__position {
		line-height: 21px;
	}
}
@media (max-width: 1024px) {
	.reviews {
		padding: 50px 0 57px 0;
		&__block-text {
			margin: 0 0 32px 0;
		}
		&__columns {
			gap: 20px;
		}
		&__comment {
			&:after {
				left: 60px;
				border-left: 13px solid transparent;
				border-right: 13px solid transparent;
			}
		}
		&__comment-text {
			@include fs-lh(14px, 16px);
		}
		&__photo {
			max-width: 63px;
		}
		&__name {
			padding: 5.5px 0;
			margin: 0 0 9px 0;
			@include fs-lh(18px, 25px);
		}
		&__position {
			@include fs-lh(14px, 16px);
		}
	}
}
@media (max-width: 768px) {
	.reviews {
		padding: 0 0 50px 0;
		&__block-text {
			margin: 0 0 24px 0;
		}
		&__columns {
			display: block;
		}
		&__column {
			padding: 0 5px;
			margin: 0 0 23px 0;
		}
		&__comment {
			margin: 0 0 40px 0;
			&:after {
				left: 40px;
			}
		}
		&__photo {
			max-width: 57px;
			filter: none;
		}
		&__name {
			padding: 8.5px 0;
			margin: 0 0 9px 0;
			@include fs-lh(14px, 19px);
		}
		&__position {
			@include fs-lh(13px, 15px);
		}
	}
	//visual setting slick-slider
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: flex;
	}
	.slick-dots {
		@include flexbox;
	}
	.slick-dots li {
		list-style: none;
		margin: 0 50px;
	}
	.slick-dots li button {
		font-size: 0;
		width: 10px;
		height: 10px;
		background: $color-white;
		border-radius: 50%;
		border: 1px solid #86878b;
	}
	.slick-dots li.slick-active button {
		background: #86878b;
	}
}
