.reviews__content {
	margin: 0 0 64px 0;
}
.reviews__block-text {
	margin: 0 0 83px 0;
}
.reviews__columns {
	display: flex;
	gap: 30px;
}
.reviews__column {
	flex: 1 1 calc(100% / 3);
}
.reviews__comment {
	position: relative;
	padding: 38px 15px;
	margin: 0 0 66px 0;
	text-align: center;
	background: #e2e2e2;
	border-radius: 10px;
	&:after {
		content: "";
		position: absolute;
		left: 70px;
		bottom: -20px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 20px solid #e2e2e2;
	}
}
.reviews__comment-text {
	line-height: 21px;
}
.reviews__user {
	display: flex;
}
.reviews__photo {
	max-width: 70px;
	margin: 0 30px 0 0;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.reviews__info {
	width: 100%;
}
.reviews__name {
	padding: 10.5px 0;
	margin: 0 0 15px 0;
	font-family: $open-sans;
	@include text-style(700, 24px, 33px);
	text-transform: capitalize;
}
.reviews__position {
	line-height: 21px;
}
@media (max-width: 1024px) {
	.reviews__content {
		margin: 0 0 57px 0;
	}
	.reviews__block-text {
		margin: 0 0 32px 0;
	}
	.reviews__columns {
		gap: 20px;
	}
	.reviews__comment {
		padding: 50px 15px;
		&:after {
			content: "";
			left: 60px;
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
		}
	}
	.reviews__comment-text {
		@include fs-lh(14px, 16px);
	}
	.reviews__photo {
		max-width: 63px;
		margin: 0 22px 0 0;
	}
	.reviews__name {
		padding: 5.5px 0;
		margin: 0 0 9px 0;
		@include fs-lh(18px, 25px);
	}
	.reviews__position {
		@include fs-lh(14px, 16px);
	}
}
@media (max-width: 768px) {
	.reviews__content {
		margin: 0 0 32px 0;
	}
	.reviews__columns {
		display: block;
	}
	.reviews__column {
		margin: 0 0 23px 0;
	}
	.reviews__comment {
		margin: 0 0 40px 0;
	}
	.reviews__photo {
		max-width: 57px;
		margin: 0 22px 0 0;
		filter: none;
	}
	.reviews__name {
		padding: 8.5px 0;
		margin: 0 0 9px 0;
		@include fs-lh(14px, 19px);
	}
	.reviews__position {
		@include fs-lh(13px, 15px);
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: flex;
	}
	.slick-dots {
		@include flexbox;
	}
	.slick-dots li {
		list-style: none;
		margin: 0 50px;
	}
	.slick-dots li button {
		font-size: 0;
		width: 10px;
		height: 10px;
		background: $color-white;
		border-radius: 50%;
		border: 1px solid #86878b;
	}
	.slick-dots li.slick-active button {
		background: #86878b;
	}
}
