body {
	font-size: 18px;
	font-family: Raleway;
}
.wrapper {
	min-height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
//variables
$transition: all 0.3s;
$color-black: #000;
$color-white: #fff;
$color-darker: #ab4949;
$color-lighter: #ec7979;
$raleway: "Raleway";
$open-sans: "Open Sans";
//header button mixins
@mixin head-btn-hover {
	transition: all 0.3s;
	background: #ec7979;
}
@mixin head-btn-active {
	transition: all 0.3s;
	background: #ab4949;
}
// main button mixins
@mixin main-btn-hover {
	transition: all 0.3s;
	background: #ab4949;
}
@mixin main-btn-active {
	transition: all 0.3s;
	background: #ec7979;
}
@mixin clean-btn-hover {
	transition: all 0.3s;
	color: #ec7979;
	border: 2px solid #ec7979;
}
@mixin clean-btn-active {
	transition: all 0.3s;
	background: #ab4949;
	border: 2px solid #ab4949;
}
//mixins for style text
@mixin fs-lh($f-s, $l-h) {
	font-size: $f-s;
	line-height: $l-h;
}
@mixin text-style($f-w, $f-s, $l-h) {
	font-weight: $f-w;
	font-size: $f-s;
	line-height: $l-h;
}
