body {
	font-size: 18px;
	font-family: Raleway;
}
.wrapper {
	min-height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
@mixin fs-lh($fs,$lh) {
	font-size: $fs;
	line-height: $lh;
}
@mixin hover-button {
	transition: all 0.3s;
	background: #ec7979;
}
@mixin active-button {
	transition: all 0.3s;
	background: #ab4949;
}
@mixin text-style ($f-f,$f-w,$f-s,$l-h,$color) {
	font-family: $f-f;
	font-weight: $f-w;
	font-size: $f-s;
	line-height: $l-h;
	color: $color;
}