//start setting for TABS
.tabs{
	margin: 0 0 50px 0;
}
.tabs__nav>input[type="radio"] {
	display: none;
}
//скрыть контент по умолчанию
.tabs__nav>div {
	display: none;
	border: 1px solid #c6cbcd;
}
//отобразить контент, связанный с вабранной радиокнопкой (input type="radio")
#tab-btn-1:checked~#tab-1,
#tab-btn-2:checked~#tab-2,
#tab-btn-3:checked~#tab-3 {
	display: block;
}
.tabs__nav>label {
	display: inline-block;
	padding: 9.5px 82px;
	cursor: pointer;
	font-size: 14px;
	color: #333;
	line-height: 19px;
	text-align: center;
	vertical-align: middle;
	font-family: 'Open Sans';
	background-color: #fff;
	text-transform: uppercase;
	border-radius: 5px 5px 0 0;
	transition: all 0.15s ease-in-out;
	position: relative;
	top: 1px;
}
.tabs>label:not(:first-of-type) {
	border-left: none;
}
.tabs__nav>input[type="radio"]:checked+label {
	border: 1px solid #c6cbcd;
	border-bottom: 1px solid #fff;
}
//end setting for TABS

.tabs__cards {
	display: flex;
	overflow: hidden;
}
.tabs__card{
	flex: 0 0 100%;
}
.tabs__body{
	width: 60%;
	overflow: auto;
	max-height: 500px;
	padding: 0 30px 0 100px;
}
.tabs__title {
	padding: 41.5px 0;
	margin: 0 0 27px 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 41px;
	font-family: 'Open Sans';
}
.tabs__text {
	margin: 0 0 27px 0;
	line-height: 21px;
}
.tabs__button {
	display: inline-block;
	padding: 16.5px 91px;
	margin: 0 0 54px 0;
	color: #fff;
	font-weight: 600;
	line-height: 25px;
	font-family: 'Open Sans';
	background-color: #ec7979;
}
.tabs__button:hover{
	background: #ab4949;
}
.tabs__button:active{
	box-shadow: inset 0 0 10px #ab4949;
}
.tabs__image{
	position: relative;
	flex: 0 0 40%;
	transform: translate(-100%, 0);
}
.tabs__image img{
	max-width: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 1024px) {
	.tabs__body{
		max-height: 385px;
		padding: 0 25px 0 85px;
	}
	.tabs__title {
		padding: 28px 0;
		margin: 0 0 38px 0;
		font-size: 24px;
		line-height: 33px;
	}
	.tabs__text {
		margin: 0 0 38px 0;
		font-size: 14px;
		line-height: 16px;
	}
	.tabs__button {
		padding: 16.5px 71.5px;
		margin: 0 0 50px 0;
	}
}
@media (max-width: 1023.98px) {
	.tabs__body{
		padding: 0 25px 0 50px;
	}
	.tabs__title {
		margin: 0;
	}
	.tabs__text {
		margin: 0 0 20px 0;
	}
	.tabs__button {
		margin: 0 0 20px 0;
	}
}
@media (max-width: 768px) {
	.tabs{
		margin: 0 0 30px 0;
	}
	.tabs__body{
		max-height: 332px;
		padding: 0 25px 0 40px;
	}
	.tabs__title {
		margin: 0;
		padding: 20px 0;
		font-size: 18px;
		line-height: 24px;
	}
	.tabs__text {
		margin: 0 0 30px 0;
	}
	.tabs__button {
		margin: 0 0 20px 0;
	}
}
@media (max-width: 767.98px) {
	.tabs__nav>label {
		padding: 9.5px 32px;
	}
	.tabs__body{
		width: 100%;
		max-height: 100%;
		padding: 0 15px;
		text-align: center;
	}
	.tabs__title {
		padding: 40px 0;
		margin: 0 0 10px 0;
	}
	.tabs__text {
		max-width: 600px;
		margin: 0 auto 29px;
	}
	.tabs__button {
		margin: 0 0 30px 0;
		padding: 12.5px 77.5px;
	}
	.tabs__image{
		display: none;
	}
}
@media (max-width: 320px) {
	.tabs{
		margin: 0;
	}
	.tabs__nav>label {
		padding: 9.5px 27.8px;
	}
	.tabs__title {
		max-width: 243px;
		padding: 32px 0;
		margin: 0 auto 29px;
	}
}